* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header, nav, section, article, aside, figure, figcaption, hgroup, footer {
	display: block;
}

img{
	max-width: 100%;
}

body {
	text-align: center;
	background-color: #9ba0a3;
	color: #113e5d;
	font-family: "Georgia","Times New Roman","Times", serif;
	font-size: 13px;
	line-height: 21px;
}

.wrapper{
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px 0 10px 0;
	text-align: left;
}

header {	
	border: 1px solid #496066;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 250px;
	position: relative;
}

header hgroup {
	line-height: 25px;
	position: absolute;		
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header h1 {
	font-size: 32px;
	color: #000;
	font-weight: bold;
	padding: 0px 0px 10px;	
}

header h2 {
	color: #000;
	font-size: 20px;
	font-weight: 400;
	padding: 0px 0px 10px;	
}

/*navegacion*/
.no-border{
	border: none;
}
nav ul{
	padding: 15px 0;
	margin: 5px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	background-color: #e4e6e5;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0 32px;
	border-right: 2px dotted #868b8f;
}

